In [1]:
import pandas as pd

In [4]:
df = pd.read_json('2024_1_5.json').rename(columns={0: 'id', 1: 'origin', 2: 'nickname', 3: "status"})
print(len(df.index))
df.head()

571537

       id         origin nickname  status
0  580535  20240105.xlsx     两百就走       0
1  580534  20240105.xlsx     起来起来       0
2  580533  20240105.xlsx    完美百家乐       0
3  580532  20240105.xlsx       莫忘       0
4  580531  20240105.xlsx      天亮了       0

In [5]:
df = df[df.status == 6]
print(len(df.index))
df.head()

625

          id         origin nickname  status
7479  573056  20240105.xlsx        傯       6
7480  573055  20240105.xlsx        葐       6
7481  573054  20240105.xlsx        扌       6
7482  573053  20240105.xlsx        亖       6
7483  573052  20240105.xlsx        兲       6

In [6]:
df.to_excel('rare_words.xlsx', index=False)

In [1]:
from unicodedata import normalize

In [2]:
s = "株式会社ＫＡＤＯＫＡＷＡ Ｆｕｔｕｒｅ Ｐｕｂｌｉｓｈｉｎｇ"

In [3]:
normalize('NFKC', s)

'株式会社KADOKAWA Future Publishing'

In [4]:
normalize('NFKD', s)

'株式会社KADOKAWA Future Publishing'

In [5]:
normalize('NFC', s)

'株式会社ＫＡＤＯＫＡＷＡ Ｆｕｔｕｒｅ Ｐｕｂｌｉｓｈｉｎｇ'

In [6]:
normalize('NFD', s)

'株式会社ＫＡＤＯＫＡＷＡ Ｆｕｔｕｒｅ Ｐｕｂｌｉｓｈｉｎｇ'

In [7]:
s = "パピプペポ"

In [8]:
normalize('NFKD', s)

'パピプペポ'

In [9]:
len(normalize('NFKD', s))

10